<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title><%= title %></title>
</head>
<body>
    <%- include('./partial/header.ejs') %>
    <div class="competitions">
        <div class="naslov">
            All competitions
        </div>
        <div class="rest">
            <% competitions.forEach(function(competition) { %>
                <div class="all">
                    <div><a href="/<%= competition.id %>"><%= competition.name %></a></div>
                </div>
            <% }); %>
        </div>
    </div>
    <% if (isAuthenticated) { %>
        <div class="pozdrav">Hy <%=user.nickname%>!</div>
        <a href="/addCompetition/create" class="dodajNatj">Add competition</a>
    <% } %>
</body>
</html>
